#close{
	text-align: center;
    display: inline-block;
    position: absolute;
    top: 4%;
    left: 80%;
    height: 20px;
    width: 20px;
    background-color: red;
}
.td_action{
	background: royalblue; 
	color: white;
}

table { 
	width: 750px; 
	border-collapse: collapse; 
    margin:35px auto;
    background: #eee;
	}

caption {
    color: white;
}

th { 
	background: royalblue; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}

.edtbtn{
	background-color: #4CAF50;
	color: white;
}

.delbtn{
	background-color: #f44336;
	color: white;
}

#searchfield{
	text-align: center;
}

fieldset{
	margin: 20px 500px 0px 500px;
	padding: 15px 0px 15px 0px;
	border: 5px solid white;
}

.searchbtn{
	border-radius: 7px;
	margin-left: 5px;
	background-color: royalblue;
	color: white;
}