.h1{
    text-align: center;
}

.studbtn{
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 30%;
    height: 200px;
    width: 200px;
    background-color: whitesmoke;
}

.facultbtn{
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    height: 200px;
    width: 200px;
}

.logout{
    float: right;
    background-color: royalblue;
    color: white;
    margin-right: 50px;
    border-radius: 5px; 
}